body{
    background-color: #B1E1FF;
}

.Login-main{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    text-align: center;
    margin-top: 80px;
    background-color: #F1EFDC;
    width: 30%;
    height: 10%;
    padding: 10px;
}
